frontend/source/layout/participantdetail.pug
extends ./extends/base_dashboard

block controller
    -var controller = 'participantdetail'

block top

block content
    #loader
        .loader-inner
            .box
                .lds-circle
                    div
                        // ?xml version="1.0" encoding="utf-8"?
                        // Generator: Adobe Illustrator 23.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)
                        svg#Capa_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 215.63 316.67', style='enable-background:new 0 0 215.63 316.67;', xml:space='preserve')
                            style(type='text/css').
                                .st0 {
                                    fill: #D7D8D8;
                                }

                                .st1 {
                                    fill: #FFFFFF;
                                }

                                .st2 {
                                    fill: #C10012;
                                }

                                .st3 {
                                    fill: #FFF;
                                }
                            g
                                g
                                    path.st3(d='M124.39,214.04c51.67-7.94,91.36-52.69,91.36-106.55c0-59.45-48.36-107.81-107.8-107.81\
                              C48.51-0.32,0.14,48.04,0.14,107.49c0,55.58,42.29,101.47,96.38,107.2c0.52,0.06,2.22,0.11,2.75,0.15v32.18H66.88v18.8h32.38\
                              v50.76h22.3v-50.75h32.9v-18.81h-32.9v-32.67C121.94,214.3,124.01,214.1,124.39,214.04z M107.95,196.4\
                              c-49.03,0-88.92-39.89-88.92-88.91c0-49.03,39.89-88.91,88.92-88.91c49.03,0,88.92,39.89,88.92,88.91\
                              C196.87,156.52,156.97,196.4,107.95,196.4z')
                                g
                                    g
                                        rect.st2(x='55.6', y='119.28', width='104.7', height='18.91')
                                    g
                                        polyline.st2(points='119.3,80.8 160.3,80.8 160.3,99.71 55.6,99.71 55.6,80.8 119.3,80.8 			')

    #participantdetail
        include modules/dashboard-header
        section.section.section-index
            include modules/participantdetail-index

block bottom

project/templates/participantdetail.html
{% load static %}<!DOCTYPE html>
<html lang="es-PE">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>{{ TITLE }}</title>
    <meta name="description" content="{{ DESCRIPTION }}">
    <meta name="keywords" content="{{ KEYWORDS }}">
    <meta name="author" content="{{ AUTHOR }}">
    <!-- meta(http-equiv="Cache-control", content="public")-->
    <!-- meta(http-equiv="Expires", content="Tue, 31 Dec 2030 23:59:59 GMT")-->
    <!-- Theme color (Only Chrome Mobile)-->
    <meta name="theme-color" content="#d93649">
    <meta name="msapplication-TileColor" content="#d93649">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#d93649">
    <!-- Facebook meta tags-->
    <meta property="og:title" content="{{ TITLE }}">
    <meta property="og:description" content="{{ DESCRIPTION }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ BASE_URL }}">
    <meta property="og:image" content="{{ BASE_URL }}{% static 'images/bg_facebook_share.jpg' %}">
    <meta property="og:locale" content="es_LA">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <!-- Twitter meta tags-->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ TITLE }}">
    <meta name="twitter:description" content="{{ DESCRIPTION }}">
    <meta name="twitter:image" content="{{ BASE_URL }}{% static 'images/bg_facebook_share.jpg' %}">
    <meta name="twitter:image:width" content="1200">
    <meta name="twitter:image:height" content="630">
    <link rel="canonical" href="{{ BASE_URL }}">
    <script type="application/ld+json">
      {
        "@context": "http://www.schema.org",
        "@type":    "WebSite",
        "name":     "{{ SHARE_TITLE }}",
        "alternateName": "{{ ALTERNATE_TITLE }}",
        "url":      "{{ BASE_URL }}"
      }
      
    </script>
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-5JX7QD9');
      
    </script>
    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" href="{{ BASE_URL }}{% static 'images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}?v={{ random }}"><!--[if lte IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body class="loader" data-controller="participantdetail" data-mobile="{% if request.is_mobile %}true{% else %}false{% endif %}" data-url="{{ BASE_URL }}">
    <!-- Google Tag Manager (noscript)-->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5JX7QD9" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript)-->
    <div id="loader">
      <div class="loader-inner">
        <div class="box">
          <div class="lds-circle">
            <div>
              <!-- ?xml version="1.0" encoding="utf-8"?-->
              <!-- Generator: Adobe Illustrator 23.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)-->
              <svg id="Capa_1" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 215.63 316.67" style="enable-background:new 0 0 215.63 316.67;" xml:space="preserve">
                <style type="text/css">
                  .st0 {
                      fill: #D7D8D8;
                  }
                  
                  .st1 {
                      fill: #FFFFFF;
                  }
                  
                  .st2 {
                      fill: #C10012;
                  }
                  
                  .st3 {
                      fill: #FFF;
                  }
                </style>
                <g>
                  <g>
                    <path class="st3" d="M124.39,214.04c51.67-7.94,91.36-52.69,91.36-106.55c0-59.45-48.36-107.81-107.8-107.81                              C48.51-0.32,0.14,48.04,0.14,107.49c0,55.58,42.29,101.47,96.38,107.2c0.52,0.06,2.22,0.11,2.75,0.15v32.18H66.88v18.8h32.38                              v50.76h22.3v-50.75h32.9v-18.81h-32.9v-32.67C121.94,214.3,124.01,214.1,124.39,214.04z M107.95,196.4                              c-49.03,0-88.92-39.89-88.92-88.91c0-49.03,39.89-88.91,88.92-88.91c49.03,0,88.92,39.89,88.92,88.91                              C196.87,156.52,156.97,196.4,107.95,196.4z"></path>
                  </g>
                  <g>
                    <g>
                      <rect class="st2" x="55.6" y="119.28" width="104.7" height="18.91"></rect>
                    </g>
                    <g>
                      <polyline class="st2" points="119.3,80.8 160.3,80.8 160.3,99.71 55.6,99.71 55.6,80.8 119.3,80.8 			"></polyline>
                    </g>
                  </g>
                </g>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="participantdetail">
      <header id="headerdashboard">
        <div class="headerdashboard-container">
          <div class="headerdashboard-inner">
            <div class="hamburger hamburger--ghost">
              <label><span></span><span></span><span></span></label>
            </div><a href="{% url 'website:home' %}"><img class="logo" src="{% static 'images/logo_banner.png' %}" alt="logo"></a>
            <div class="hamburger js_hamburger">
              <label><span></span><span></span><span></span></label>
              <div class="menu js_menu">
                <p class="user">{{ user.get_full_name }}</p><a class="logout" href="{% url 'website:logout' %}">Cerrar Sesión</a>
              </div>
            </div>
          </div>
        </div>
      </header>
      <section class="section section-index">
        <div class="section-container">
          <div class="section-inner">
            <div class="box">
              <div class="box__item">
                <div class="participant">
                  <div class="participant__detail">
                    <div class="row row--top"><span class="tag">{{ participant.companycategories.first }}</span>{% if participant.state == QUALIFIED %}
                      <div class="state"><span class="state__text">{{ participant.get_state_display }}:</span><span class="state__point">{{ participantevaluation.first.score|floatformat:"-2" }} ptos.</span><span class="state__icon state__icon--success"></span></div>{% else %}
                      {{ participant.companydetailevaluation_set.jury }}
                      {% if participant.companydetailevaluation_set.all|length > 0 %}
                      {% for evaluation in participant.companydetailevaluation_set.all %}
                      {% if evaluation.jury.username == user.get_username %}
                      {% else %}
                      <div class="state"><span class="state__text">Por calificar</span><span class="state__icon state__icon--alert"></span></div>{% endif %}
                      {% endfor %}
                      {% for evaluation in participant.companydetailevaluation_set.all %}
                      {% if evaluation.jury.username == user.get_username %}
                      <div class="state"><span class="state__text">Calificado:</span><span class="state__point">{{ participantevaluation.first.score|floatformat:"-2" }} ptos.</span><span class="state__icon state__icon--success"></span></div>{% endif %}
                      {% endfor %}
                      {% else %}
                      <div class="state"><span class="state__text">{{ participant.get_state_display }}</span><span class="state__icon state__icon--alert"></span></div>{% endif %}
                      {% endif %}
                    </div>
                    <div class="row row--medium"><span class="label label--purple">NOMBRE DE LA INICIATIVA</span><span class="name">{{ participant.initiative }}</span></div>
                    <div class="row row--bottom"><span class="label label--black">NOMBRE DE LA EMPRESA:</span><span class="company">{{ participant.name }}</span></div>
                    <div class="row row--files">{% if participant.videourl %}<a class="video" href="{{ participant.videourl }}" target="_blank"><img class="icon" src="{% static 'images/icon_video.png' %}" alt="video"><span class="text">Mira el video del caso</span></a>{% endif %}
                      {% if participant.videourl_additional %}<a class="video" href="{{ participant.videourl_additional }}" target="_blank"><img class="icon" src="{% static 'images/icon_video.png' %}" alt="video"><span class="text">Mira el video del caso</span></a>{% endif %}
                      {% if participant.photo %}<a class="images" href="{{ participant.photo.url }}" target="_blank"><img class="icon" src="{% static 'images/icon_image.png' %}" alt="imagenes"><span class="text">Descarga la imagen</span></a>{% endif %}
                      {% if participant.photo_additional %}<a class="images" href="{{ participant.photo_additional.url }}" target="_blank"><img class="icon" src="{% static 'images/icon_image.png' %}" alt="imagenes"><span class="text">Descarga la imagen</span></a>{% endif %}
                      {% if participant.pdf %}<a class="pdf" href="{{ participant.pdf.url }}" target="_blank"><img class="icon" src="{% static 'images/icon_pdf.png' %}" alt="pdf"><span class="text">Descarga el PDF</span></a>{% endif %}
                      {% if participant.pdf_additional %}<a class="pdf" href="{{ participant.pdf_additional.url }}" target="_blank"><img class="icon" src="{% static 'images/icon_pdf.png' %}" alt="pdf"><span class="text">Descarga el PDF</span></a>{% endif %}
                    </div>
                    <div class="row row--questions">{% for detail in participantdetail %}<span class="question">{{ forloop.counter }}. {{ detail.question }}</span><span class="response">{{ detail.response }}</span>{% endfor %}</div>
                  </div>
                </div>
              </div>
              <div class="box__item">
                <form class="form" id="form_participant_evaluation"><span class="title">Califica el proyecto</span>{% csrf_token %}
                  <input type="hidden" name="company" id="company" value="{{ participant.id }}">
                  <input type="hidden" name="jury" id="jury" value="{{ user.id }}">{% if participantevaluation %}
                  {% for criteria in participant.companycategories.first.companycategorycriteria_set.all %}
                  {% if criteria.name_input == "impact" %}
                  <div class="form__row">
                    <div class="info">
                      <label class="title">{{ criteria.title }}</label><span class="point js_point">{{ participantevaluation.first.impact }}</span>
                    </div>
                    <input class="range js_range" type="range" min="0" max="10" value="{{ participantevaluation.first.impact }}" step="0.5" disabled>
                  </div>{% elif criteria.name_input == "creativity" %}
                  <div class="form__row">
                    <div class="info">
                      <label class="title">{{ criteria.title }}</label><span class="point js_point">{{ participantevaluation.first.creativity }}</span>
                    </div>
                    <input class="range js_range" type="range" min="0" max="10" value="{{ participantevaluation.first.creativity }}" step="0.5" disabled>
                  </div>{% elif criteria.name_input == "social_change" %}
                  <div class="form__row">
                    <div class="info">
                      <label class="title">{{ criteria.title }}</label><span class="point js_point">{{ participantevaluation.first.social_change }}</span>
                    </div>
                    <input class="range js_range" type="range" min="0" max="10" value="{{ participantevaluation.first.social_change }}" step="0.5" disabled>
                  </div>{% elif criteria.name_input == "sustainability" %}
                  <div class="form__row">
                    <div class="info">
                      <label class="title">{{ criteria.title }}</label><span class="point js_point">{{ participantevaluation.first.sustainability }}</span>
                    </div>
                    <input class="range js_range" type="range" min="0" max="10" value="{{ participantevaluation.first.sustainability }}" step="0.5" disabled>
                  </div>{% elif criteria.name_input == "originality"  %}
                  <div class="form__row">
                    <div class="info">
                      <label class="title">{{ criteria.title }}</label><span class="point js_point">{{ participantevaluation.first.originality }}</span>
                    </div>
                    <input class="range js_range" type="range" min="0" max="10" value="{{ participantevaluation.first.originality }}" step="0.5" disabled>
                  </div>{% elif criteria.name_input == "scope"  %}
                  <div class="form__row">
                    <div class="info">
                      <label class="title">{{ criteria.title }}</label><span class="point js_point">{{ participantevaluation.first.scope }}</span>
                    </div>
                    <input class="range js_range" type="range" min="0" max="10" value="{{ participantevaluation.first.scope }}" step="0.5" disabled>
                  </div>{% endif %}
                  {% endfor %}
                  <div class="form__row form__row--marginbottom">
                    <div class="info">
                      <label class="title title--bold">Comentarios Generales:</label>
                    </div>
                    <p class="text">{{ participantevaluation.first.comment }}</p>
                  </div>{% else %}
                  {% for criteria in participant.companycategories.first.companycategorycriteria_set.all %}
                  <div class="form__row">
                    <div class="info">
                      <label class="title">{{ criteria.title }}</label><span class="point js_point">0</span>
                    </div>
                    <input class="range js_range" type="range" min="0" max="10" value="0" step="0.5" name="{{ criteria.name_input }}">
                  </div>{% endfor %}
                  <div class="form__row form__row--marginbottom">
                    <div class="info">
                      <label class="title">Comentarios Generales:</label>
                    </div>
                    <textarea class="text" placeholder="Comentarios" rows="5" maxlength="250" name="comment" id="comment"></textarea>
                  </div>
                  <div class="form__row"><a class="submit" id="send_form">Enviar Calificación</a></div>{% endif %}
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <script src="{% static 'js/vendor/vendor_all.js' %}?v={{ random }}" type="text/javascript"></script>
    <script src="{% static 'js/bundle.js' %}?v={{ random }}" type="text/javascript"></script>
  </body>
</html>
